@model MvcApplication1.Models.gda_passport

@{
    ViewBag.Title = "Деталі заяви";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="featured" id="pass">

    <h2>Деталі заяви</h2>
    <hr />

    <div>
        <label>Прізвище: </label>
        @Html.DisplayFor(model => model.surname)
    </div>

    <div>
        <label>Ім`я: </label>
        @Html.DisplayFor(model => model.name)
    </div>

    <div>
        <label>По батькові: </label>
        @Html.DisplayFor(model => model.patronymic)
    </div>

    <div>
        <label>Дата народжння: </label>
        @Html.DisplayFor(model => model.born)
    </div>

    <div>
        <label>Місце народження: </label>
        @Html.DisplayFor(model => model.kingdom)
    </div>

    <div>
        <label>Стать: </label>
        @Html.DisplayFor(model => model.gender)
    </div>

    <div>
        <label>Не одружений/не заміжня</label>
        @Html.DisplayFor(model => model.marital_status)
    </div>

    <div>
        <label>Прізвище партнера: </label>
        @Html.DisplayFor(model => model.family_surname)
    </div>

    <div>
        <label>Ім’я партнера: </label>
        @Html.DisplayFor(model => model.family_name)
    </div>

    <div>
        <label>По-батькові партнера: </label>
        @Html.DisplayFor(model => model.family_patronymic)
    </div>

    <div>
        <label>Ким був зареєстрований: </label>
        @Html.DisplayFor(model => model.family_who_registered)
    </div>

    <div>
        <label>Коли був зареестрований: </label>
        @Html.DisplayFor(model => model.family_when_registered)
    </div>

    <div>
        <label>Прізвище матері: </label>
        @Html.DisplayFor(model => model.mom_surname)
    </div>

    <div>
        <label>Ім’я матері: </label>
        @Html.DisplayFor(model => model.mom_name)
    </div>

    <div>
        <label>По батькові матері: </label>
        @Html.DisplayFor(model => model.mom_patronymic)
    </div>

    <div>
        <label>Прізвище батька: </label>
        @Html.DisplayFor(model => model.father_surname)
    </div>

    <div>
        <label>Ім’я батька: </label>
        @Html.DisplayFor(model => model.father_name)
    </div>

    <div>
        <label>По батькові батька: </label>
        @Html.DisplayFor(model => model.father_patronymic)
    </div>

    <div>
        <label>Місто проживання: </label>
        @Html.DisplayFor(model => model.residence_city)
    </div>

    <div>
        <label>Вулиця проживання: </label>
        @Html.DisplayFor(model => model.residence_house)
    </div>

    <div>
        <label>Будинок проживання: </label>
        @Html.DisplayFor(model => model.residence_apartment)
    </div>

    <div>
        <label>Не маю іноземного громадянства: </label>
        @Html.DisplayFor(model => model.foreign_citizenship)
    </div>

    <div>
        <label>Країна: </label>
        @Html.DisplayFor(model => model.foreign_citizenship_where)
    </div>

    <div>
        <label>Дата прийняття громадянство України: </label>
        @Html.DisplayFor(model => model.foreign_citizenship_now)
    </div>

    <div>
        <label>Прошу видати (замінити) паспорт у зв'язку  з: </label>
        @Html.DisplayFor(model => model.reason_for_issuing)
    </div>

    <div>
        <label>Дата заповнення: </label>
        @Html.DisplayFor(model => model.date_of_filling)
    </div>


        @Html.ActionLink("Змінити", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Назад", "Index")

</section>