@model MvcApplication1.Models.LocalPasswordModel
@{
    ViewBag.Title = "Керування вашим обліковим записом";
}
<section class="featured homepage">
    <div id="manage">
        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
        </hgroup>

        <p class="message-success">@ViewBag.StatusMessage</p>

        <p>Ви увійшли як <strong>@User.Identity.Name</strong>.</p>

        @if (ViewBag.HasLocalPassword)
        {
            @Html.Partial("_ChangePasswordPartial")
        }
        else
        {
            @Html.Partial("_SetPasswordPartial")
        }
        <!--
        <section id="externalLogins">
            @Html.Action("RemoveExternalLogins")

            <h3>Добавить внешнюю учетную запись</h3>
            @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
        </section>
            -->
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
    </div>
</section>