@{
    ViewBag.Title = "extradition";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("extraditionS", "Passport"))
{
    foreach (var validMassage in ViewBag.we)
    {<label style="color:red;">@validMassage</label>}

    foreach (var validMassage in ViewBag.mm)
    {<label style="color:red;">@validMassage</label>}


    <h2>ЗАЯВА ПРО ВИДАЧУ ПАСПОРТА</h2>
    foreach (var value in ViewBag.UserInf)
    {
        <label>Прізвище</label><input type="text" name="surname" value="@value.SurName" />
        <label>Ім`я</label><input id="Text1" type="text" name="name" value="@value.Name" />
        <label>По батькові</label><input id="Text1" type="text" name="patronymic" value="@value.Patshroryk" />

        <h2>Дата народження</h2>
        <input type="text" name="born" value="@value.DateOfBirths" />
        <h2>Місце народження</h2>
        <input id="Text1" type="text" name="kingdom" value="село, селище, місто" />
        <label>Стать</label>
        <select id="Select1" name="gender">
            <option value="0">Чоловіча</option>
            <option value="1">Жіноча</option>
        </select>
        <h2>Сімейний стан</h2>
        <input type="checkbox" name="marital_status" /> <label>Не одружений/не заміжня</label>
        <label>Прізвище</label>
        <input id="Text1" type="text" name="family_surname" />
        <label>Ім’я</label>
        <input id="Text1" type="text" name="family_name" />
        <label>По батькові</label>
        <input id="Text1" type="text" name="family_patronymic" />
        <label>Ким був зареєстрований</label><input id="Text1" type="text" name="family_who_registered" />
        <label>Коли був зареестрований</label><input id="Text1" type="text" name="family_when_registered" />
        <label>Мати</label>
        <label>Прізвище</label><input id="Text1" type="text" name="mom_surname" />
        <label>Ім’я</label><input id="Text1" type="text" name="mom_name" />
        <label>По батькові</label><input id="Text1" type="text" name="mom_patronymic" />
        <label>Батько</label>
        <label>Прізвище</label><input id="Text1" type="text" name="father_surname" />
        <label>Ім’я</label><input id="Text1" type="text" name="father_name" />
        <label>По батькові</label><input id="Text1" type="text" name="father_patronymic" />
        <label>Місце проживання</label>
        <label>Місто</label><input id="Text1" type="text" name="residence_city" />
        <label>Вулиця</label><input id="Text1" type="text" name="residence_house" />
        <label>Будинок</label><input id="Text1" type="text" name="residence_apartment" />
        <label>Іноземне громадянство</label>
        <input type="checkbox" name="foreign_citizenship" /><label>Не маю</label>
        <label>Країна</label><input id="Text1" type="text" name="foreign_citizenship_where" />
        <label>Дата прийняття громадянство України</label><input id="Text1" type="text" name="foreign_citizenship_now" />
        <label>Прошу видати (замінити) паспорт у зв'язку  з</label><input id="Text1" type="text" name="reason_for_issuing" />
        <label>Дата заповнення</label><input id="Text1" type="text" name="date_of_filling" />

        <input type="submit" name="save" value="submit" />


    }


}
