@model MvcApplication1.Models.UserKabinet

@{
    ViewBag.Title = "Ваш кабінет";
}

<section id="cab" class="featured">
    <h2>Ваш кабінет</h2>
    <hr />
    <div>
        @Html.DisplayNameFor(model => model.Name)
        @Html.DisplayFor(model => model.Name)
    </div>

    <div>
        @Html.DisplayNameFor(model => model.Surname)
        @Html.DisplayFor(model => model.Surname)
    </div>

    <div>
        @Html.DisplayNameFor(model => model.Patronymic)
        @Html.DisplayFor(model => model.Patronymic)
    </div>

    <div>
        @Html.DisplayNameFor(model => model.DateOfBirth)
        @Html.DisplayFor(model => model.DateOfBirth)
    </div>

    <div>
        @Html.DisplayNameFor(model => model.Email)
        @Html.DisplayFor(model => model.Email)
    </div>

    <div>
        @Html.DisplayNameFor(model => model.Phone)
        @Html.DisplayFor(model => model.Phone)
    </div>

    @Html.ActionLink("Редагувати кабінет", "Edit", new { id = Model.UserId })




</section>