@model MvcApplication1.Models.UserKabinet

@{
    ViewBag.Title = "Мій кабінет";
}


<section id="cab" class="featured">
    <h2>Мій кабінет</h2>




    <div>
        <label>Ваше Ім'я: </label>

        @Html.DisplayFor(model => model.Name)
    </div>

    <div>
        <label>Ваше прізвище: </label>
  
        @Html.DisplayFor(model => model.Surname)
    </div>

    <div >
        <label>Ім'я по-батькові: </label>
    
        @Html.DisplayFor(model => model.Patronymic)
    </div>

    <div>
        <label>Дата народження: </label>

        @Html.DisplayFor(model => model.DateOfBirth)
    </div>

    <div>
        <label>Електронна адреса: </label>

        @Html.DisplayFor(model => model.Email)
    </div>

    <div>
        <label>Контактний номер: </label>

        @Html.DisplayFor(model => model.Phone)
    </div>
 
        @Html.ActionLink("Редагувати кабінет", "Edit", new { id = Model.UserId })

</section>


