@model MvcApplication1.Models.UserKabinet

@{
    ViewBag.Title = "Редагувати кабінет";
}

<section id="cab" class="featured">

    <h2>Редагувати кабінет</h2>
    <hr />
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)


            <div>
                <label>Ваше Ім'я: </label>

                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>

             <div>
                <label>Ваше прізвище: </label>
  
                @Html.EditorFor(model => model.Surname)
                @Html.ValidationMessageFor(model => model.Surname)
            </div>

           <div >
                <label>Ім'я по-батькові: </label>
    
                @Html.EditorFor(model => model.Patronymic)
                @Html.ValidationMessageFor(model => model.Patronymic)
            </div>

           <div>
               <label>Дата народження: </label>

               <input type="date" name="DateOfBirth" value=" " />
               @Html.ValidationMessageFor(model => model.DateOfBirth)
            </div>

           <div>
                <label>Електронна адреса: </label>

                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>

            <div>
                <label>Контактний номер: </label>

                @Html.EditorFor(model => model.Phone)
                @Html.ValidationMessageFor(model => model.Phone)
            </div>

           
                <input type="submit" class="btn" value="Зберегти" />
       

            }

            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
    </section>